nav {
  background-color: #065143;
}

nav * ul {
  min-width: 140px;
}

ul.navbar-nav>li {
  padding: .5rem;
}

.nav-link {
  color: white;
}

.active-link {
  font-weight: bolder;
  color: #70B77E;
}