html {
  height: 100vh;
}

body {
  margin: 0;
  background: #616b83;/*  rgb(18, 148, 144); */
  background: linear-gradient(90deg, #616b83 0%, #d6d9e0 100%);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}