<div class="container">
  <div id="to-list">
    <h2>To do list</h2>
    <ul>
      <li>Get app data from the endpoint</li>
      <li>Store app data in firebase</li>
      <li>Implement stylish front-end</li>
    </ul>
  </div>
  
  <div id="get-app-data">
    <h3>1. GET app data</h3>
    <ul>
      <li><s [style.color]="'green'">Pull a sample of app data</s></li>
      <li><s [style.color]="'green'">Translate data into workable objects for the front-end</s></li>
    </ul>
  </div>
  
  <div id="store-app-data">
    <h3>2. Store app data in firebase</h3>
  </div>
  
  <div id="barebone-fe">
    <h3>3. Implement barebone front-end</h3>
    <ul>
      <li><s [style.color]="'green'">Map full routing</s></li>
      <li>Implement mobile/desktop designs</li>
    </ul>
  </div>
</div>
